/*

F6 EC FF : fond code
FA F6 FF
E9 E3 F3 : ombre fond code

pour 1 em = 15 pixels

1	0.066667	16	1.066667	31	2.066667
2	0.133333	17	1.133333	32	2.133333
3	0.2			18	1.2			33	2.2
4	0.266667	19	1.266667	34	2.266667
5	0.333333	20	1.333333	35	2.333333
6	0.4			21	1.4			36	2.4
7	0.466667	22	1.466667	37	2.466667
8	0.533333	23	1.533333	38	2.533333
9	0.6			24	1.6			39	2.6
10	0.666667	25	1.666667	40	2.666667
11	0.733333	26	1.733333	41	2.733333
12	0.8			27	1.8			42	2.8
13	0.866667	28	1.866667	43	2.866667
14	0.933333	29	1.933333	44	2.933333
15	1			30	2			45	3
*/

/*==================================================
	INIT
==================================================*/
html {
	height: auto !important;
	min-height: 100%;
	font-size: 15px;
	}

body {
	background: url("images/redox_01.png") fixed;
	color: #000;
	font: 15px/1.5 verdana,geneva,sans-serif;
	height: auto !important;
	margin: 0;
	min-height: 100%;
	padding: 0;
	-webkit-text-size-adjust: 15px;
	-ms-text-size-adjust: 15px;
	counter-reset: numFigure;
	}

p {
	margin: 0 0 1em 0;
	padding: 0;
	}


/*====== LIENS ===================================================*/
a {
	color: #0000EE;
	cursor: pointer;
	}

a:active,
a:focus { outline: 0; }

a:hover {
	color: #AA0026;
	outline: 0;
	}

a:visited { color: #0000EE; }

.LIEN-img {
	border: 0;
	cursor: pointer;
	}

/* Liens externes au tutoriel */
a[href ^='http'] {
	background: url(images/lien_www.png) no-repeat right center;
	padding-right: 20px;
	}
/* Liens vers les spécifications techniques */
a[onclick ^='top.FP.Voir.showPageTech'] {
	background: url(images/lien_tech.png) no-repeat right center #F6ECFF;
	box-shadow: 0 0 4px 2px #E9E3F3;
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		Monaco, 'Courier New', Courier, monospace;
	font-size: 1.066667em;
	padding: 0 20px 0 3px;
	text-decoration: none;
	}

/*====== FORMULAIRES =============================================*/
form {
	margin: 0;
	padding: 0;
	}

input,
textarea,
select,
button {
	font-size: 100%;
	font-family: inherit;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	*font-size: 100%; /* Permette le redimesionnement dans IE */
	*vertical-align: middle;
	}

textarea {
	resize: none;
	height: auto;
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top;
	}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	cursor: pointer;
	-webkit-appearance: button;
	*overflow: visible;
	}

button[disabled],
input[disabled] { cursor: default; }

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
	*height: 13px;
	*width: 13px;
	}


/*====== TABLES ==================================================*/
table {
	border: 1px solid #bbb;
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: inherit;
	font: 100%;
	margin: 1em auto;
	width: 100%;
	}

td {
	border: 1px solid #bbb;
	margin: 0;
	padding: 2px 4px;
	vertical-align: top;
	}

td p,
td pre { margin: 0; }

/*====== LISTES ==================================================*/
dl,
dt,
dd,
ul,
ol {
	margin: 0;
	padding: 0;
	}

li {
	margin: 0;
	padding: 0;
	list-style: none;
	}

li p { margin: 1em 0; }



/*====== DIVERS ==================================================*/
b,
strong,
.FP-bold { font-weight: bold; }

img { border: 0; }

video { box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); }

footer {
	background: none repeat scroll 0 0 #8667BE;
	border: 1px solid #999999;
	border-radius: 35px 35px 35px 35px;
	bottom: 0;
	box-shadow: 0 0 6px -2px #000000;
	color: #FFFFFF;
	clear: both;
	height: 50px;
	left: 50%;
	line-height: 50px;
	margin-left: -360px;
	padding-left: 12px;
	position: relative;
	width: 708px;
	}

footer a { color: #FFF;	}
footer a:hover { color: #FFEA56;	}

figure {
	display: block;
	margin: 1em 0;
	text-align: center;
	}
figure img {
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	padding: 4px;
	}
figcaption {
	display: block;
	font-size: 80%;
	font-style: italic;
	}
figcaption::before {
	counter-increment: numFigure;
	content: "Fig. " counter(numFigure) " : ";
	}
/*====== TITRES ==================================================*/
h1,
h2,
h3,
h4 {
	background-color: #FFEA56;
	background-position: 10px center;
	background-repeat: no-repeat;
	border-radius: 30px 30px 30px 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /*0 2px 6px -3px #000000;*/
	clear: both;
	color: #111;
	font-weight: bold;
	left: -20px;
	padding: 6px 6px 6px 46px;
	position: relative;
	width: 585px;
	}

h1 {	/* Titre d'un chapitre */
	background-image: url('images/_folder.png');
	font-size: 1.4em;	/*21*/
	margin-bottom: 1em;
	}

h2 {	/* Titres d'une page */
	background-image: url('images/_document.png');
	font-size: 1.266667em;	/*19*/
	margin: 0.66667em 0 1em;
	}

h3 {	/* Titre d'une partie dans une page */
	background-image: url('images/_checkbox.png');
	cursor: pointer;
	font-size: 1.133333em;	/*17px;*/
	margin: 2em auto 1em;
	}

h4 {	/* Titre d'une sous-partie dans une page */
	background-image: url('images/_check.png');
	cursor: pointer;
	font-size: 1em;
	margin: 1.73333em auto 0.866667em;
	padding-top: 2px;
	padding-bottom: 2px;
	}


#TIT-tuto {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 1.733333em;	/*26px;*/
	font-weight: bold;
	line-height: 1.2;
	padding-left: 4px;
	text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.6);
	}

.TIT-lettre {
	color: #EEEEEE;
	font-size: 1.3461538em;	/*35px;*/
	}

/*--------------------------------------------------
	BLOCS DIVERS
--------------------------------------------------*/
#PAGE-tuto {	/* Bloc contenant la page */
	background: #F8F8F8;
	box-shadow: 0 0 15px rgba(122, 122, 122, 0.4);
	left: 50%;
	margin: 0 0 0 -344px;
	padding: 100px 44px 10px;
	position: relative;
	width: 600px;
	}

.fp-remarque {
	background: url('images/lightpaperfibers.png');
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	font-size: 0.866667em;
	margin-left: 90px;
	padding: 6px 12px;
	position: relative;
	}

.fp-remarque::before {
	content: url("images/_info.png");
	display: block;
	height: 28px;
	left: -13px;
	position: absolute;
	top: -10px;
	width: 28px;
	}

.fp-rappel {
	background: url("images/lightpaperfibers.png") repeat;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	float: right;
	font-size: 0.866667em;
	margin-left: 8px;
	padding: 2px 4px;
	width: 190px;
	}

.fp-cadre {
	border: 2px solid #8667BE;
	padding: 5px 15px;
	}

.fp-video {
	background: url("images/_tv.png") no-repeat scroll center center
		transparent;
	border: 1px solid;
	display: block;
	height: 32px;
	padding: 4px;
	}

.BLOC-solution { display: none; }

/*--------------------------------------------------
	1er MENU FIXE haut de la page
--------------------------------------------------*/
#MENU-top {
	background: #8667BE;
	border: 1px solid #999999;
	border-radius: 35px 35px 35px 35px;
	box-shadow: 0 0 6px -2px #000000;
	height: 50px;
	left: 50%;
	margin-left: -360px;
	padding-left: 12px;
	position: fixed;
	top: 0;
	width: 708px;
	z-index: 101;
	}

#MENU-top a,
.LIEN-page-before,
.LIEN-page-after,
.LIEN-page-top,
.LIEN-search {
	background-color: transparent;
	background-repeat: no-repeat;
	display: block;
	float: right;
	height: 32px;
	margin: 10px 7px 0 0;
	width: 32px;
	}


#MENU-top-rep { background-image: url('images/__arbo.png'); }
#MENU-top-rep:hover { background-image: url('images/__arbo_h.png'); }
.LIEN-search {background-image: url(images/__search.png)}
.LIEN-search:hover {background-image: url(images/__search_h.png)}
.LIEN-page-top { background-image: url('images/__arrow_up.png'); }
.LIEN-page-top:hover { background-image: url('images/__arrow_up_h.png'); }
.LIEN-page-before { background-image: url(images/__arrow_left.png); }
.LIEN-page-before:hover { background-image: url(images/__arrow_left_h.png); }
.LIEN-page-after { background-image: url(images/__arrow_right.png); }
.LIEN-page-after:hover { background-image: url(images/__arrow_right_h.png); }


.LIEN-rep {
	background: url('images/__arbo.png') no-repeat;
	float: right;
	height: 32px;
	line-height: 32px;
	padding-left: 34px;
	margin: 0 0 2em 0;
}
.LIEN-rep:hover { background-image: url('images/__arbo_h.png'); }


/*==================================================
	Boite de recherche
==================================================*/
#SRCH-bloc {
	background: #ffffff;
	box-shadow: 0 0 6px -1px #000000;
	height: 300px;
	overflow: auto;
	padding: 10px;
	position: absolute;
	resize: vertical;
	right: 17px;
	top: 45px;
	width: 400px;
	}
#SRCH-texte {
	resize: none;
	width: 160px;
	}
#SRCH-btn {
	background: url("../_core/images/__search24.png") no-repeat;
	border: medium none;
	cursor: pointer;
	height: 24px;
	margin: 0 0 0 -12px;
	width: 24px;
	}
#SRCH-btn:hover { background-image: url("../_core/images/__search24_h.png"); }
#SRCH-resultats { font-size: 0.8em; }
.SRCH-mot-resultat {
	border: 1px solid #999999;
	font-weight: bold;
	margin: 10px 0 0;
	padding: 3px;
}
#MENU-top #SRCH-resultats a {
	background-color: transparent;
	background-repeat: no-repeat;
	display: block;
	float: none;
	height: auto;
	margin: 5px 0 0 0;
	width: auto;
	}
.SRCH-resume {
	padding: 0 0 0 1em;
	color: #000;
	}

/*--------------------------------------------------
	2eme MENU FIXE haut de la page - contenu du tuto
--------------------------------------------------*/
#MENU-tuto {
	box-shadow: 0 0 15px rgba(122, 122, 122, 0.4);
	color: #0000CC;
	display: block;
	font-size: 0.866667em;/*13px;*/
	left: 50%;
	line-height: 1.3;
	margin-left: -359px;
	position: fixed;
	top: 33px;
	width: 720px;
	z-index: 100;
	}

#MENU-tuto > div {
	float: left;
	position: relative;
	}

#MENU-tuto > div > div {
	background: #8667BE;
	border: 1px solid #999;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	color: #FFFFFF;
	cursor: default;
	display: block;
	height: 36px;
	margin: 0;
	overflow: hidden;
	padding: 20px 0 0 0;
	position: relative;
	text-align: center;
	width: 78px;
	z-index: 1;
	}

#MENU-tuto > div > ul {
	background: #FFEA56;
	border: 1px solid #999;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
	line-height: 1.7;
	margin: -6px 0 0 12px;
	padding: 6px;
	position: absolute;
	width: 220px;
	}

#MENU-tuto > div:nth-child(7) > ul,
#MENU-tuto > div:nth-child(8) > ul,
#MENU-tuto > div:nth-child(9) > ul {
	margin: -6px 0 0 -158px;
	}

#MENU-tuto #MENU-chap-courant {
	background-color: #FFEA56;
	color: #644D8E; /*#AA0026;*/
	}

#MENU-tuto > div:hover > div {
	background-color: #FFEA56;
	color: #AA0026;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /*2px 2px 6px -4px #000;*/
	z-index: 4;
	}

#MENU-tuto > div:hover > ul {
	display: block;
	z-index: 3;
	}

#MENU-tuto #MENU-page-courante,
#MENU-tuto li:hover {
	background-color: #FFF5AB;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /*2px 2px 6px -4px #000;*/
	color: #AA0026;
	cursor: pointer;
	}

/*--------------------------------------------------
	MENU contenu d'une page
--------------------------------------------------*/
#MENU-page {
	background: #FFF5AB;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.10); /*0 1px 6px -3px #000000;*/
	float: right;
	margin: 0 0 0.66667em 0.66667em;
	padding: 0 0 5px;
	position: relative;
	text-align: left;
	width: 285px;
	}

#MENU-page a {
	background: url('images/_checkbox10x10.png') no-repeat 3px 12px;
	color: #0000CC;
	display: block;
	padding: 5px 2px 2px 18px;
	text-decoration: none;
	}

#MENU-page a:visited {
	color: #00C;
	}

#MENU-page a:hover {
	background-color: #FFFDEE; /*#ffea56;*/
	color: #AA0026;
	box-shadow: 2px 2px 6px -4px #000;
	}

#MENU-page ol {
	margin: 0 0.333333em 0 1em;
	}

#MENU-page ol a {
	background: url('images/_red_square5.png') no-repeat 5px 10px;
	font-size: 0.866667em;	/*13px;*/
	padding: 0 5px 2px 15px;
	}

/*--------------------------------------------------
	TEST DU CODE
--------------------------------------------------*/
.TEST-form {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	clear: both;
	margin: 1.2em 0;
	padding: 0;
	}

.TEST-form-big {
	position: relative;
	left: -40px;
	width: 676px;
	}

.TEST-titre,
.NO-TEST-titre {
	background-color: #F8F5FF;	/*FFF5AB;*/
	border-radius: 20px 20px 0 0;
	line-height: 34px;
	padding-left: 6px;
	position: relative;
	}

.TEST-titre:after {
	content: '(code modifiable)';
	font-size: 9px;
	margin-left: 4px;
	}
	/*
	content: url('images/_info_code.png');
	height: 49px;
	position: absolute;
	right: 4px;
	top: 2px;
	width: 38px;
	z-index: 2;
	}
	*/
	/*
	content: url('images/_info_code.png');
	height: 86px;
	position: absolute;
	right: -12px;
	top: -8px;
	width: 85px;
	z-index: 2;
	*/

.TEST-plus {
	background: url("images/__plus24.png") no-repeat left center;
	float: left;
	height: 24px;
	margin: 3px 3px 0 3px;
	position: relative;
	width: 24px;
	z-index: 3;
	}

.TEST-plus:hover {
	background-image: url('images/__plus24_h.png');
	}

.TEST-lien,
.TEST-lien-bd,
.TEST-lien-exp,
.TEST-lien-class {
	background: url("images/__doc24.png") no-repeat left center;
	float: right;
	height: 24px;
	margin: 5px 5px 0 10px; /*3px 79px 0 10px;*/
	position: relative;
	width: 24px;
	z-index: 3;
	}

.TEST-lien:hover {
	background-image: url('images/__doc24_h.png');
	}

.TEST-lien-bd {
	background: url("images/__bd24.png") no-repeat left center;
	}
.TEST-lien-bd:hover {
	background-image: url("images/__bd24_h.png");
	}

.TEST-lien-exp {
	background: url("images/__expreg24.png") no-repeat left center;
	}
.TEST-lien-exp:hover {
	background-image: url("images/__expreg24_h.png");
	}

.TEST-lien-class {
	background: url("images/__cube24.png") no-repeat left center;
	}
.TEST-lien-class:hover {
	background-image: url("images/__cube24_h.png");
	}

#TEST-result {
	padding: 4px;
	border: 1px solid #999;
	height: auto;
	display: none;
	}

.TEST-textarea {
	border: 0;
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		Monaco, 'Courier New', Courier, monospace;
	font-size: 1.066667em;
	line-height: 1.2;
	padding-left: 3px;
	width: 600px;
	}

.TEST-boutons {
	background-color: #F8F5FF; /*FFF5AB;*/
	border-radius: 0 0 20px 20px;
	line-height: 34px;
	margin: 0;
	text-align: center;
	}

.TEST-boutons input {
	font-size: 0.866667em;	/*13px;*/
	margin: 0 60px;
	width: 112px;
	}

.TEST-form-post-get {
	border-radius: 0px 0px 20px 20px;
	margin-top: 0;
	}

.TEST-post-get {
	background-color: #F8F5FF;
	border: 1px solid #DDDDDD;
	border-radius: 20px 20px 0 0;
	border-bottom: none;
	font-weight: bold;
	line-height: 34px;
	margin: 0;
	padding-left: 6px;
	position: relative;
	}


.CodeMirror {
		height: auto;
	}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	}


.CodeMirror-gutter {
	background-color: #F8F5FF;
	}
/*
.CodeMirror-gutter-text {
	color: #333;
	}
*/

/* pas clair de savoir de quoi hérite le pre */
.CodeMirror pre {
	box-shadow: none;
	line-height: 1.2;
	}

/*
.CodeMirror-lines {
	background: -webkit-linear-gradient(#FFFAF7 50%, white 50%);
	background-size: 100% 2.4em;
	background-origin: content-box;
	}
*/

/*--------------------------------------------------
	CODE
--------------------------------------------------*/
pre,
code,
.fp-code,
.fp-dl-code dt {
	background-color: #F6ECFF;
	box-shadow: 0 0 4px 2px #E9E3F3;
	font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
		Monaco, 'Courier New', Courier, monospace;
	font-size: 1.066667em;	/*16px;*/
	line-height: 1.3;
	padding: 0 3px;
	}

pre {
	margin: 1em 0;
	padding: 5px;
	}

/*
div > pre {
	margin: 0;
	}
*/

.fp-dl-code { margin: 0 0 1em 0; }

.fp-dl-code dt {
	box-shadow: 0 0 1px 1px #E9E3F3;
	clear: left;
	float: left;
	text-align: center;
	width: 48px;
	}

.fp-dl-code dd { margin-left: 52px; }

.fp-w5 dt { width: 62px; }
.fp-w5 dd { margin-left: 66px; }

.fp-w6 dt { width: 100px; }
.fp-w6 dd { margin-left: 104px; }

.fp-dl-code > dt > a {
	box-shadow: none;
	}

.fp-remarque .fp-code {
	font-size: 0.933333em;	/*14px;*/
	}

/*--------------------------------------------------
	DIVERS
--------------------------------------------------*/
.fp-rouge { color: #CC0000; }
.fp-petit { font-size: 0.866667em;	/*13px;*/ }
.fp-t-center { text-align: center; }
.fp-f-right { float: right; }
.fp-f-left { float: left; }
.fp-w40pc {width: 40%; }
.fp-clear { clear: both; }
.fp-bottom0 { margin-bottom: 0; }
.fp-top0 { margin-top: 0; }
.fp-inter2 { margin-top: 2em; }
.fp-gras { font-weight: bold; }

.fp-img {
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	padding: 4px;
	}

.fp-exo { background-image: url('images/_pencil24x24.png'); }

.fp-solution {
	background: url('images/_key.png') no-repeat 0 center;
	clear: both;
	line-height: 30px;
	padding: 0 0 0 30px;
	}

.fp-rond {
	background-color: #BC2341;
	border-radius: 12px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	height: 24px;
	line-height: 22px;
	text-align: center;
	width: 24px;
}

/* ---- TABLES ----------------------------------- */
.TAB-sans-bord,
.TAB-sans-bord td {	border: none; }

.TAB-def tr td:first-child {
	text-align: right;
	padding-right: 6px;
	}
.TAB-zebre {
	border: none;
	}
.TAB-zebre tr td:first-child {
	text-align: center;
	}
.TAB-zebre tr:nth-child(odd) {
	background: #eee;
	}
.TAB-zebre tr:nth-child(2n) {
	background: #F8F5FF;
	}
.TAB-zebre td {
	border: none;
	}

/* ---- LISTES ----------------------------------- */
.fp-ul,
.fp-ul-1em,
.fp-ul-puce { margin: 0 0 1em 0; }

.fp-puce,
.fp-ul > li,
.fp-ul-1em > li {
	background: url('images/_puce12x14.png') no-repeat 0 5px transparent;
	padding-left: 20px;
	}

.fp-ul-1em > li { margin-bottom: 1em; }

.fp-ul-puce > li {
	list-style: square outside none;
	margin-left: 3em;
	}

/*--------------------------------------------------
	IMPRESSION
--------------------------------------------------*/
@media print {
	@page { margin: 0.5cm; }

	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	html { font-size: 8pt; /*0.666667pt 10 points */ /*0.533333pt;*/ /* 8 points */ }
	body { font-size: 8pt; /*0.666667pt 10 points */ /*0.533333pt;*/ /* 8 points */ }

	h1,
	h2,
	h3,
	h4 {
		border: 1px solid #666;
		margin-left: 0;
		padding: 0.1cm 0.1cm 0.1cm 0.3cm;
		width: 18cm;
		left: -0.5cm;
		page-break-after: avoid;
		orphans: 3;
		widows: 3;
	}

	a,
	a:visited { text-decoration: underline; }

	a[href]:after { content: " (" attr(href) ")"; }

	a:after,
	a[href ^="javascript:"]:after,
	a[onclick]:after,
	a[href ^="#"]:after { content: ""; }

	thead { display: table-header-group; }

	tr,img { page-break-inside: avoid; }

	img { max-width: 100% !important; }

	p {
		orphans: 3;
		widows: 3;
	}

	#MENU-tuto,
	#MENU-page,
	.TEST-boutons,
	.TEST-titre:after { display: none; }

	#MENU-top {
		/*
		position: relative;
		left: 0.5cm;
		margin: 0;
		width: 19cm;
		*/
		position: static;
		margin: 0 auto;
		width: 19cm;
	}

	#PAGE-tuto {
		width: 18cm;
		margin: -2cm auto 0 auto;
		border: 0;
		left: 0;
	}

	footer {
		position: static;
		margin: 0 auto;
	}

	.fp-puce,
	.fp-ul>li,
	.fp-ul-1em>li {
		background: url('images/_puce12x14.png') no-repeat 0 5px transparent !important;
	}
}