html {
	height: auto !important;
	min-height: 100%;
	}

body {
	/*background: #FFF;*/
	color: #000;
	font: 13px/1.5 verdana, arial, sans-serif;
	height: auto !important;
	margin: 36px 0 0 0;
	min-height: 100%;
	padding: 0;
	-webkit-text-size-adjust: 13px;
	-ms-text-size-adjust: 13px;
	}

form,
ul,
ol,
li {
	margin: 0;
	padding: 0;
	}

input,
select,
textarea,
th,
td {
	font-size: 1em;
	}

table {
	font: inherit;
	}

p {
	font-size: 1em;
	margin: 0 0 1em 0;
	padding: 0;
	}

hr {
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #eeeeee;
	}

h1 {
	background: #8667BE;
	border-radius: 0;
	box-shadow: 0 0 6px -2px #000000;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	height: 26px;
	overflow: hidden;
	left: 0;
	line-height: 26px;
	margin: 0;
	padding: 5px 2px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;	
	}

#bcMsg {
	text-align: center;
	font-weight: bold;
	}

#bcTxt {
	width: 400px;
	margin: 0 auto;
	}

#bcErr {
	width: 400px;
	margin: 10px auto;
	border: 1px solid red;
	padding: 4px;
	}

#btnClose {
	background: url(images/__cancel24.png) no-repeat;
	cursor: pointer;
	height: 24px;
	position: fixed;
	right: 10px;
	top: 6px;
	width: 24px;
	z-index: 10;
	}

#btnClose:hover {
	background-image: url(images/__cancel24_h.png);
	}

.btn {
	width: 100px;
	margin-left: 20px;
	}

.lien {
	color: #0000CC;
	}

.lab {
	clear: both;
	display: block;
	margin: 12px 0;
	}
.lab > span {
	display: block;
	float:left;
	margin-right: 5px;
	text-align: right;
	width: 230px;
	}
.lab input {
	width: 130px;
	}
.err {
	border: 1px solid #f00;
	color: #f00;
	padding: 5px;
	}
/*==================================================
	Treeview pour les dossiers
	fs = file system			
==================================================*/
#bcHelp {
	box-shadow: 0 0 6px -2px #000000;
	font-size: 10px;
	right: 0;
	padding: 2px;
	position: fixed;
	top: 40px;
	width: 200px;
	}
	
.FS {
	/*font-size: 15px;*/
	margin: 10px;
	width: 500px;
	}

.FS-folder-name > span,
.FS-file-name span {
	visibility: hidden;
	}

.FS-folder-name:hover > span,
.FS-file-name:hover span {
	visibility: visible;
	}

.FS-li-folder {
	position: relative;
	list-style: none;
	}

.FS-li-file {
	position: relative;
	list-style: none;
	margin-left: 12px !important;
	}

.FS-file-name {
	background: url(images/document.png) 0 0 no-repeat;
	color: #000;
	padding-left: 21px;
	text-decoration: none;
	}

.FS-folder-name {
	background-image: url(images/ferme.png);
	background-repeat: no-repeat;
	background-position: 0 center;
	cursor: pointer;
	line-height: 1.5;
	padding-left: 31px;
	}

.FS-folder-name-opened { 
	background-image: url(images/ouvert.png);
	}

.FS-folder-opened {
	display: block;
	height: auto;
	margin-left: 30px;
	}
	
.FS-folder-closed {
	display: none;
	}
/* icones boutons pour gestion dossier */
.FS-btn-upl,
.FS-btn-add,
.FS-btn-del,
.FS-btn-file-del,
.FS-btn-ok,
.FS-btn-cancel{
	background: url(images/arrow_down.png) no-repeat 0 2px;
	border: 0;
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 0 0 6px;
	}
	
.FS-btn-upl { position: relative;}
.FS-btn-del { background-image: url(images/action_remove.png);}
.FS-btn-file-del { background-image: url(images/action_remove.png);}
.FS-btn-ok { background-image: url(images/action_check.png);}
.FS-btn-cancel { background-image: url(images/action_delete.png);}
.FS-btn-add {
	position: relative;
	background-image: url(images/action_add.png);
	}

/* Boite de dialogue pour ajout de dossier */
/* Boite de dialogue pour upload de fichier */
.FS-add-dialog,
.FS-upl-dialog {
	background: #FFF;
	border: 1px solid #CCCCCC;
	left: 18px;
	padding: 1px;
	position: absolute;
	top: -4px;
	width: 150px;
	z-index: 10;
	}

.FS-upl-dialog { width: 300px; }
	
.FS-add-folder-name { width: 100px; }	/* input saisie nom dossier pour add */

.FS-upl-file-name { width: 250px; }	/* input saisie nom fichier � uploder */

.UPL-drag-over { background-color: #FFEA56; }

/* @TODO essayer de faire un seul bloc, 
avec border: 9999px solid rgba(0, 0, 0, 0.25);
*/
#FP-xhr-modal {
	background-color: black;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.25;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999998;
	}

#FP-xhr-loader {
	background: url(images/ajax_loader48.gif) no-repeat;
	height: 48px;
	left: 50%;
	margin: -24px 0 0 -24px;
	position: absolute;
	top: 50%;
	width: 48px;
	z-index: 999999;
	}

/* webkit adjacent element selector bugfix */
/* les sélecteurs adjacents sont utilisés dans FS-xxxxx */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.FS {
		-webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
		}
	@
	-webkit-keyframes webkit-adjacent-element-selector-bugfix {
		from { padding:0; }
		to { padding: 0; }
	}
}