ul,
li {
	margin: 0;
	padding: 0;
	}
	
li {
	background: url('document.png') no-repeat;
	padding-left: 20px; 
	list-style: none;
	}
		
.dossier {
	background-image: url('dossier.png');
	}